.brand_logo {
    /* 28a754 */
    background-color: #28a754;
    padding: 10px;
    display: flex;
    margin: auto;
    width: 50%;
    border-radius: 50%;
    border: 2px solid white;
}

.mat-button, .mat-raised-button{
    background-color:#28a754;
} 