

<div class="container">
  <form>
    <h3 style="text-align: center;">Bienvenido@ {{ Username }}</h3>
    <br><br>
      <div class="row justify-content-center">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8">
          <div class="brand_logo_container">
            <img src="./assets/Image/user.jpg" class="brand_logo" alt="Logo">
          </div>
        </div>
      </div>
      <br><br>
  </form>
</div>
<div class="row justify-content-center">
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-8">
    <button mat-button mat-raised-button color="primary" class="w-100">Ver lista de compras</button>
  </div>
  <br><br>
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-8">
    <button mat-button mat-raised-button color="primary" class="w-100">Ver carrito de compras</button>
  </div>
  <br><br><br><br><br>
</div>