<div class="contenido col-xl-12">
		<div class="footer-container">
		<br>
		<div class="footer-subscribe-row row">
			<div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
				<div class="suscribete">!SUSCRÍBETE¡</div>
			</div>
			<form class="col-lg-8" method="POST">
				<div class="row">
					<div class="col-sm-4">
						<input type="email" placeholder="Suscríbete con tu email" class="row form-control form-control-sm">
						<div class="checkbox">
							<label class="body-base-sm">
								<input type="checkbox">Acepto
								<a class="link-base-sm" href="#">Términos y condiciones </a>y la
								<a class="link-base-sm" href="#"> Política de privacidad y datos personales</a>
							</label>
						</div>
					</div>
					<div class="col">
						<button type="submit" class="btn btn-default btn-sm col" disabled>Ofertas para niños ratas</button>
					</div>
					<div class="col">
						<button type="submit" class="btn btn-default btn-sm col" disabled>Ofertas para niñas ratas</button>
					</div>
				</div>
			</form>
		</div>
		<hr>
		<div class="formas-pago row">
			<ul>
				<li><img src="https://img.icons8.com/color/144/000000/visa.png">
					<p>Visa</p>
				</li>
				<li><img src="https://img.icons8.com/color/144/000000/mastercard.png">
					<p>MasterCard</p>
				</li>
				<li><img src="https://img.icons8.com/plasticine/96/000000/money.png">
					<p>Pago en efectivo</p>
				</li>
				<li><img src="https://img.icons8.com/officexs/96/000000/merchant-account.png">
					<p>Depósito bancario</p>
				</li>
				<li><img src="https://img.icons8.com/officexs/96/000000/bank-cards.png">
					<p>Tarjetas bancarias</p>
				</li>
			</ul>        
		</div>
		<hr>
		<h5 style="text-align: center;">Siguenos en:</h5>
		<div class="container">
			<div class="d-flex aling-items-center justify-content-center">
				<!-- Facebook -->
				<img src="https://img.icons8.com/material/24/000000/facebook-f.png">
				<!-- Twitter -->
				<img src="https://img.icons8.com/material/24/000000/twitter-squared.png">
				<!-- Google +-->
				<img src="https://img.icons8.com/material/24/000000/google-plus--v1.png">
				<!--Linkedin -->
				<img src="https://img.icons8.com/material/24/000000/linkedin--v1.png">
				<!--Instagram-->
				<img src="https://img.icons8.com/material/24/000000/instagram-new--v1.png">
				<!-- Pinterest -->
				<img src="https://img.icons8.com/material/24/000000/pinterest.png">
			</div>
			<br>
			<div class="d-flex aling-items-center justify-content-center">© 2019 Copyright:
				<a href="#"> RoboTop.cl</a>
			</div>
		</div>
		<br>
</div>


