<div class="contenido col-xl-12">
		<div class="footer-container">
		<br>
		<div class="footer-subscribe-row row">
			<div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
				<div class="suscribete">!SUSCRÍBETE¡</div>
			</div>
			<form class="col-lg-8" method="POST">
				<div class="row">
					<div class="col-sm-4">
						<input type="email" placeholder="Suscríbete con tu email" class="row form-control form-control-sm">
						<div class="checkbox">
							<label class="body-base-sm">
								<input type="checkbox">Acepto
								<a class="link-base-sm" href="#">Términos y condiciones </a>y la
								<a class="link-base-sm" href="#"> Política de privacidad y datos personales</a>
							</label>
						</div>
					</div>
					<div class="col">
						<button type="submit" class="btn btn-default btn-sm col" disabled>Ofertas para niños ratas</button>
					</div>
					<div class="col">
						<button type="submit" class="btn btn-default btn-sm col" disabled>Ofertas para niñas ratas</button>
					</div>
				</div>
			</form>
		</div>
		<hr>
		<div class="formas-pago row">
			<ul>
				<li><a href="#"><img src="https://img.icons8.com/color/144/000000/visa.png"></a>
					<p>Visa</p>
				</li>
				<li><a href="#"><img src="https://img.icons8.com/color/144/000000/mastercard.png"></a>
					<p>MasterCard</p>
				</li>
				<li><a href="#"><img src="https://img.icons8.com/plasticine/96/000000/money.png"></a>
					<p>Pago en efectivo</p>
				</li>
				<li><a href="#"><img src="https://img.icons8.com/officexs/96/000000/merchant-account.png"></a>
					<p>Depósito bancario</p>
				</li>
				<li><a href="#"><img src="https://img.icons8.com/officexs/96/000000/bank-cards.png"></a>
					<p>Tarjetas bancarias</p>
				</li>
			</ul>        
		</div>
		<hr>
		<h5 style="text-align: center;">Siguenos en:</h5>
		<div class="container">
			<div class="d-flex aling-items-center justify-content-center">
				<!-- Facebook -->
				<a href="https://es-la.facebook.com/" target="_blank">
				<img src="https://img.icons8.com/material/24/000000/facebook-f.png"></a>
				<!-- Twitter -->
				<a href="https://twitter.com/login?lang=es" target="_blank">
				<img src="https://img.icons8.com/material/24/000000/twitter-squared.png"></a>
				<!-- Google +-->
				<a href="https://support.google.com/plus/answer/1301225?co=GENIE.Platform%3DDesktop&hl=es" target="_blank">
				<img src="https://img.icons8.com/material/24/000000/google-plus--v1.png"></a>
				<!--Linkedin -->
				<a href="https://cl.linkedin.com/" target="_blank">
				<img src="https://img.icons8.com/material/24/000000/linkedin--v1.png"></a>
				<!--Instagram-->
				<a href="https://www.instagram.com/accounts/login/?hl=es-la" target="_blank">
				<img src="https://img.icons8.com/material/24/000000/instagram-new--v1.png"></a>
				<!-- Pinterest -->
				<a href="https://www.pinterest.cl/login/" target="_blank">
				<img src="https://img.icons8.com/material/24/000000/pinterest.png"></a>
			</div>
			<br>
			<div class="d-flex aling-items-center justify-content-center">©2020 Copyright:
				<a href="http://www.robtopgames.com/" target="_blank">RoboTop.cl</a>
			</div>
		</div>
		<br>
</div>


