
<div class="container">
  <div class="row row-cols-3">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Araña</h5>
          <img src="./assets/Image/araña.jpg" alt="">
          <a href="#" class="btn btn-outline-success">Comprar</a>
          <a href="#" class="btn btn-outline-success">Detalle</a>
        </div>
      </div>
    </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Gundam wing Tamaño real</h5>
        <img src="./assets/Image/gundan_02.jpg" alt="">
        <a href="#" class="btn btn-outline-success">Comprar</a>
        <a href="#" class="btn btn-outline-success">Detalle</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Mano mecanica</h5>
          <img src="./assets/Image/Mano.jpg" alt="">
          <a href="#" class="btn btn-outline-success">Comprar</a>
          <a href="#" class="btn btn-outline-success">Detalle</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Perro Robot</h5>
          <img src="./assets/Image/perro.jpg" alt="">
          <a href="#" class="btn btn-outline-success">Comprar</a>
          <a href="#" class="btn btn-outline-success">Detalle</a>
        </div>
      </div>
    </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Silla de ruedas para perros</h5>
        <img src="./assets/Image/silla_ruedad_perro.jpg" alt="">
        <a href="#" class="btn btn-outline-success">Comprar</a>
        <a href="#" class="btn btn-outline-success">Detalle</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Piernas robot ortopedicas</h5>
          <img src="./assets/Image/piernas_robot.jpeg" alt="">
          <a href="#" class="btn btn-outline-success">Comprar</a>
          <a href="#" class="btn btn-outline-success">Detalle</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Robot de pelea</h5>
          <img src="./assets/Image/robot_pelea.jpg" alt="">
          <a href="#" class="btn btn-outline-success">Comprar</a>
          <a href="#" class="btn btn-outline-success">Detalle</a>
        </div>
      </div>
    </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Eva01</h5>
        <img src="./assets/Image/Eva01.jpg" alt="">
        <a href="#" class="btn btn-outline-success">Comprar</a>
        <a href="#" class="btn btn-outline-success">Detalle</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Robot grande</h5>
          <img src="./assets/Image/robot_gigante.jpg" alt="">
          <a href="#" class="btn btn-outline-success">Comprar</a>
          <a href="#" class="btn btn-outline-success">Detalle</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Gundam Wing 00</h5>
          <img src="./assets/Image/gundan_tamaño_real.jpg" alt="">
          <a href="#" class="btn btn-outline-success">Comprar</a>
          <a href="#" class="btn btn-outline-success">Detalle</a>
        </div>
      </div>
    </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Eva02</h5>
        <img src="./assets/Image/Eva02.jpeg" alt="">
        <a href="#" class="btn btn-outline-success">Comprar</a>
        <a href="#" class="btn btn-outline-success">Detalle</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Octopus</h5>
          <img src="./assets/Image/Octopus.jpg" alt="">
          <a href="#" class="btn btn-outline-success">Comprar</a>
          <a href="#" class="btn btn-outline-success">Detalle</a>
        </div>
      </div>
    </div>
  </div>
</div>
   
